.btncolor{
    color: blue;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.site-footer1{
    padding: 25px 0;
    width: 100%;
    background-image: url(../images/ftr-bg.jpg);
}
.site-nav1{
    z-index: 1;
    z-index: 2;
    position: absolute;
    width: 100%;
    padding: 10px 70px;
    border: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.nav1 {
    padding-left: 448px;
    margin-bottom: 0;
    list-style: none;
}


